# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.sdf
*.idb
*.ilk
*.dll

# Precompiled Headers
*.gch
*.pch
moc_*.cpp
qrc_*.cpp

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#logs
*.log
*.tlog

#project files
*.vcxproj.user
*.pro.user

#genertated makefile
Makefile.Debug
Makefile.Release

